
@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.salondeletter.com/cdn/font/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}